body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.overview {
  height: 125px;
  width: 125px;
  overflow: auto;
}

.card:hover .overview{
  display: block;
}

.searched {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 20vw;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1vw;
  position: relative;
  flex-grow: 1;
}

.words {
  max-width: 100px;
  padding: 10px;
}

img {
  height: 75%;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
